
.header{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(#0006,#18171660);
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #000;
    z-index: 99;
}
.header .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header .menu a{
    font-size: 24px;
    padding: 20px;
    opacity: 0.7;
    text-shadow: 0 0 50px #fff;
    transition: all 0.5s ease;
}
.header .menu a:hover{
    text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
    transform: translateY(5px);
    opacity: 1;
}
main{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

section{
    display: block;
    width: 100%;
    position: relative;
}

.section_bg{
    display: block;
    width: 100%;
    height: auto;
}
.hero_title{
    display: block;
    position: absolute;
    top: 40%;
    left: 11.875%;
    width: 42.9%;
    height: auto;
}
.hero .sh{
    display: block;
    width: auto;
    position: absolute;
    top: 10%;
    right: 5%;

}

.hero .sh1{
    width: 40%;
    margin-top: 10%;
    right: -1%;
}
.hero .sh2{
    width: 46%;
    transform: rotate(-11.7deg);
}
.hero .flowers{
    top: 43%;
    right: 10%;
    width: 32.3%;
}
/* w40 w54.4 */

.history_title{
    display: block;
    width: 42%;
    position: absolute;
    top: 13.5%;
    left: 17.3%;
}
.history .content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 25%;
    left: 0;
}
/* Контейнер слайдера должен ограничивать выход элементов за края */
.slider {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Укажите нужную ширину */
    margin: 0 auto;
}

/* Контейнер для слайдов задает высоту */
.slides-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Укажите нужную высоту вашего слайдера */
}

/* Все слайды абсолютно позиционированы и занимают 100% места */
.slide {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 500px;
    height: auto;
    /* Скрываем все слайды по умолчанию (GSAP включит первый) */
    opacity: 0; 
    visibility: hidden;
}
.slide article{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 50px;
    font-size: 24px;
    padding: 50px;
    will-change: contents;
}
.slide_img{
    display: block;
    width: 660px;
    height: auto;
    position: relative;
    rotate: 10deg;
}
.slide_img .img{
    width: 100%;
    position: relative;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.slide_img .img_border{
    width: 135%;
    left: -15%;
    top: -20%;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 10;
}

/* Стилизация кнопки */
.slider_next {
    width: 12.2%;
    top: 30%;
    right: 5%;
    position: absolute;
    z-index: 10;
    padding: 20px;
    transition: transform 0.3s ease;
    /* Добавьте свои стили для кнопки */
}
.slider_next img{
    width: 100%;
}

.slider_next:hover{
    transform: rotate(20deg) scale(0.9);
}


.creators .bg{
    display: block;
    width: 100%;
    height: auto;
}

.creators .content{
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 40%;
}

.creators .slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 300px;
    /* Скрываем все слайды по умолчанию (GSAP включит первый) */
}
.creators .slide p{
    font-weight: 900;
}
.creators .slide article{
    padding: 0 50px;
}
.creators .slide_img{
    width: 440px;
    rotate: -15deg;
}

.creators .slide_img .img_border{
    top: -30%;
    height: 125%;
}
.creators .slider_next {
    width: 12.2%;
    top: 50%;
    right: 30%;
    position: absolute;
    /* Добавьте свои стили для кнопки */
}


/* CREATING */

.creating1 .title{
    display: block;
    position: absolute;
    top: 8%;
    left: 17%;
    width: 42.5%;
}
.creating .wrap{
    flex-direction: column;
    position: relative;
    width: 100%;
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    padding-top: 400px;
}
.creating2 .wrap{
    padding-top: 300px;
}
.creating_header{
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    grid-template-columns: 1fr 1fr;
}
.creating_header .step_article{
    display: block;
    font-size: 24px;
}
.creating .steps{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 17%;
    margin-bottom: 200px;
}
.creating .steps span{
    font-size: 24px;
    font-weight: 400;
}

/* Изолируем стили только для секции creating1 */

.creating .slider-main{
    position: relative;
}
.creating .creating1-slider {
    overflow: hidden;
    width: 100%;
    position: relative;
    /* Убираем стандартные флексы swiper, если они мешают */
    display: block; 
}

.creating .swiper-wrapper {
    display: flex;
    width: max-content; /* Критично: контейнер должен быть во всю длину слайдов */
    flex-wrap: nowrap;
}
.creating .frame_left,
.creating .frame_right{
    display: block;
    position: absolute;
    z-index: 99;
}
.creating .frame_left{
    left: 0;
    top: -30px;
}
.creating .frame_right{
    bottom: -30px;
    right: 0;
}
.creating .swiper-slide {
    width: auto; /* Слайды подстраиваются под контент */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    max-height: 353px;
    z-index: 10;
}

.creating .swiper-slide img {
    display: block;
    width: auto;
    height: auto;
    object-fit: cover;
    pointer-events: none; /* Чтобы картинки не "хватались" мышкой */
}


/* Убираем стандартные стили кнопок браузера */
.steps .step-btn {
    cursor: pointer;
    background: none;
    font-size: 24px;
    border: none;
    color: inherit;
    padding: 0;
    text-align: left;
    outline: none;
    opacity: 0.5;
}
.steps .step-btn.active{
    opacity: 1;
}
/* Накладываем тексты и слайдеры друг на друга */
.articles-wrapper, 
.sliders-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

/* Все элементы находятся в одной и той же ячейке сетки */
.step_article, 
.slider-main {
    grid-area: 1 / 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Чтобы некликабельные элементы не перекрывали кнопки внутри слайдера */
}

/* Базовые стили для активных элементов (хотя GSAP тоже будет этим управлять) */
.step_article.active, 
.slider-main.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* IN LIFE */

.inlife .title{
    display: block;
    position: absolute;
    left: 20%;
    top: 5%;
    width: 50.3%;
}
.inlife .wrap{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 350px;
}
.inlife .container{
    display: flex;
    flex-direction: column;
    width: 67.2%;
    margin: 0 auto;
}

.inlife .grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 auto;
}
.inlife .grid .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    max-width: 326px;
}
.inlife .grid .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.inlife .grid .center span{
    font-size: 24px;
}

/* 3d */

.model3d .title{
    display: block;
    position: absolute;
    left: 15%;
    top: 5%;
}

#model3d-canvas{
    width: 100%;
    max-width: 1920px;
    height: auto;
    aspect-ratio: 16/9;
}
.model3d .wrap,
.video .wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* video */




/* footer */

.footer{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#0006,#18171660);
    backdrop-filter: blur(10px);
}
.footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}


.music_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #DECBB9;
    z-index: 999;
    border-radius: 50%;
    margin: 20px;
    transform: scale(1);
    transition: all 0.3s ease;
    animation: music 10s infinite linear;
}
@keyframes music {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.music_btn::before{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    left: -6px;
    top: -6px;
    border-radius: 50%;
    border: 2px solid #DECBB9;
}
.music_btn.active{
    transform: scale(0.7)!important;
    opacity: 0.4!important;
    animation: none;
}
.music_btn.active img {
    filter: grayscale(1);
}


.progress_bar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    z-index: 999;
}
.progress_bar .progress{
    display: block;
    width: 100%;
    height: 50%;
    background: linear-gradient(transparent,#DECBB9);
}