
.header{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(#0006,#18171660);
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #000;
    z-index: 99;
}
.header .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header .menu a{
    font-size: 24px;
    padding: 20px;
    opacity: 0.7;
    text-shadow: 0 0 50px #fff;
    transition: all 0.3s ease;
}
.header .menu a:hover{
    text-shadow: 0 0 10px #fff;
    opacity: 1;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

section{
    display: block;
    width: 100%;
    position: relative;
}

.section_bg{
    display: block;
    width: 100%;
    height: auto;
}
.hero_title{
    display: block;
    position: absolute;
    top: 40%;
    left: 11.875%;
    width: 42.9%;
    height: auto;
}
.hero .sh{
    display: block;
    width: auto;
    position: absolute;
    top: 10%;
    right: 5%;

}

.hero .sh1{
    width: 40%;
    margin-top: 10%;
    right: -1%;
}
.hero .sh2{
    width: 46%;
    transform: rotate(-11.7deg);
}
.hero .flowers{
    top: 43%;
    right: 10%;
    width: 32.3%;
}
/* w40 w54.4 */

.history_title{
    display: block;
    width: 42%;
    position: absolute;
    top: 13.5%;
    left: 17.3%;
}
.history .content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 25%;
    left: 0;
}
/* Контейнер слайдера должен ограничивать выход элементов за края */
.slider {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Укажите нужную ширину */
    margin: 0 auto;
}

/* Контейнер для слайдов задает высоту */
.slides-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Укажите нужную высоту вашего слайдера */
}

/* Все слайды абсолютно позиционированы и занимают 100% места */
.slide {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    /* Скрываем все слайды по умолчанию (GSAP включит первый) */
    opacity: 0; 
    visibility: hidden;
}
.slide article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 24px;
    padding: 50px;
}
.slide_img{
    display: block;
    width: 660px;
    height: auto;
    position: relative;
    rotate: 10deg;
}
.slide_img .img{
    width: 100%;
    position: relative;
}
.slide_img .img_border{
    width: 135%;
    left: -15%;
    top: -20%;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 10;
}

/* Стилизация кнопки */
.slider_next {
    top: 30%;
    right: 5%;
    position: absolute;
    z-index: 10;
    padding: 20px;
    background: #fff;
    /* Добавьте свои стили для кнопки */
}